*{
    margin: 0;
    padding: 0;
}

#main{
    width: 90%;
    margin: auto;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 20px 0;
    padding: 0 20px 0 20px;
}

#header .logo{
    display: flex;
    align-items: center;
}


#header .logo img{
    margin: 0 10px 0 0;
}

#header .logo a{
    text-decoration: none;
    color: #000000;
}

#header .nav ul{
    list-style: none;
    display: flex;
}

#header .nav ul li a{
    text-decoration: none;
    color: #000000;
    padding: 0 10px 0 10px;
    font-size: 24px;
}

#header .button{
    display: flex;
    align-items: center;
    /* background: url("./src/btn_background.png") no-repeat; */
    background: linear-gradient(to right, #fadeee, #F1808D);
    border: none;
    border-radius: 50px;
    padding: 5px 15px 5px 15px;
    color: white;
    text-decoration: none;
}

#body .background{
    background: url("./src/pocetna_bkr.png") no-repeat;
    background-size: cover;
    height: 50vw;
    width: 100%;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#body .background .title{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5vw;
    margin-top: auto;
    padding-top: 5vw;
    width: 70vw;
}

#body .background .title h1{
    color: #FFFFFF;
}

#body .background .title p{
    text-align: center;
    color: white;
}

#body .background button{
    display: flex;
    align-items: center;
    justify-content: start;
    border: none;
    border-radius: 3vw;
    padding: 1.1vw;
    height: 4.5vw;
    width: 15vw;
    margin: 2vw 0 auto 0;
}

#body .background button p{
    font-size: 1.5vw;
    margin: 0 0.6vw 0 0;
}

#body .background button .circle{
    margin: 0 auto 0 auto;
    height: 3vw;
    width: 3vw;
    border-radius: 100%;
    background: linear-gradient(to right, #fadeee, #F1808D);
    display: flex;
    justify-content: center;
    align-items: center;
}

#body .background button .circle .arrow{
    background: url("./src/arrow.png") no-repeat;
    background-size: cover;
    width: 1vw;
    height: 1vw;
}

#body .background .msg{
    align-self: end;
    margin: 0 5vw 0 0;
    width: 25vw;
    height: 7vw;
    padding: 1vw;
    border-radius: 2vw;
    font-size: 1vw;
    backdrop-filter: blur(20px);
    margin-bottom: auto;
}

#body .background .msg p{
    color: white;
}

#body .kategorii .title{
    display: flex;
    justify-content: center;
    margin: 4vw 0 4vw 0;
}

#body .kategorii .title h1{
    font-size: 2.5vw;

}
#body .kategorii .grid-kategorii{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 1vw;
    margin: 0 0 5vw 0;
}

#body .kategorii .grid-kategorii .grid-item{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#body .kategorii .grid-kategorii .grid-item img{
    width: 17vw;
    height: 16vw;
}

#body .kategorii .grid-kategorii .grid-item p{
    font-size: 1vw;
}

#footer{
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 5px 0;
}

#footer a.logo{
    margin: 0 10px 0 0;
}

#footer a.name{
    text-decoration: none;
    color: white;
    margin: 0 20px 0 0;
}

#footer a.insta{
    margin: 0 10px 0 0;
}
