*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans';
}

#main{
    width: 90%;
    margin: auto;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 20px 0;
    padding: 0 20px 0 20px;
}

#header .logo{
    display: flex;
    align-items: center;
}


#header .logo img{
    margin: 0 10px 0 0;
}

#header .logo a{
    text-decoration: none;
    color: #000000;
}

#header .nav ul{
    list-style: none;
    display: flex;
}

#header .nav ul li a{
    text-decoration: none;
    color: #000000;
    padding: 0 10px 0 10px;
    font-size: 24px;
}

#header .button{
    display: flex;
    align-items: center;
    /* background: url("./src/btn_background.png") no-repeat; */
    background: linear-gradient(to right, #fadeee, #F1808D);
    border: none;
    border-radius: 50px;
    padding: 5px 15px 5px 15px;
    color: white;
    text-decoration: none;
}

#body img{
    width: 100%;
    border-radius: 50px;
}

#body .background{
    background: url("./src/hannah.png") no-repeat;
    background-size: cover;
    height: 50vw;
    width: 100%;
    border-radius: 50px;
    margin: 0 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#body .title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0 0 0;
    font-size: 1.5vw;
}

#body .title h1{
    color: #FFFFFF;
}

#body .blob{
    background: url("./src/yellow_blob.png") no-repeat;
    width: 35vw;
    height: 20vw;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: start;
    margin: auto 0 auto 10%;
}

#body .blob p{
    width: 80%;
    color: #FFFFFF;
    font-size: 1.1vw;
}

#body .miv{
    height: 43vw;
    width: 100%;
    display: flex;
    justify-content: center;
}

#body .miv .misija{
    background: url("./src/red_blob.png") no-repeat;
    width: 40vw;
    height: 25vw;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#body .miv .misija h1{
    margin: auto 0 0 0;
    font-size: 2vw;
}

#body .miv .misija p{
    margin: 0 0 auto 0;
    font-size: 1vw;
    padding: 0 4vw 0 4vw;
}

#body .miv .vizija{
    background: url("./src/pink_blob.png") no-repeat;
    width: 40vw;
    height: 30vw;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: end;
    margin: 0 0 30px 0;
}

#body .miv .vizija h1{
    margin: 4vw 0 0 0;
    font-size: 2vw;
}

#body .miv .vizija p{
    margin: 0 0 auto 0;
    font-size: 1vw;
    padding: 0 4vw 0 4vw;
}

#footer{
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 5px 0;
}

#footer a.logo{
    margin: 0 10px 0 0;
}

#footer a.name{
    text-decoration: none;
    color: white;
    margin: 0 20px 0 0;
}

#footer a.insta{
    margin: 0 10px 0 0;
}
